---
Checks: '
  bugprone-*,
  clang-*,
  concurrency-*,
  cppcoreguidelines-*,
  modernize-*,
  openmp-*,
  performance-*,
  portability-*,
  readability-*
'
WarningsAsErrors: ''
HeaderFilterRegex: ''
...
